---
import Main from '@layouts/Main.astro'
import Container from '@components/Container.astro'

const description =
  'Gaston wurde 2019 mit der Vision gegründet, den Bestellungs- und Bezahlungsprozess in Restaurants, Cafés und Bars zu revolutionieren.'
---

<Main title="Unsere Mission" description={description}>
  <Container>
    <p>
      <h1>Mission</h1>
      
      Gaston wurde 2019 in der Stadt Luzern mit der Mission gegründet, den Bestellungs- und
      Bezahlungsprozess in Restaurants, Cafés und Bars zu optimieren. Wir haben eine App entwickelt, die
      es ermöglicht, den Bestellvorgang zu vereinfachen und zu modernisieren. Was wir heute erreichen
      wollen, ist, dass mehr Betriebe von unserem System profitieren können. Mit unserer App und den
      zusätzlichen Tools, die wir zur Verfügung stellen, wollen wir Vorreiter bei der Integration von
      Technologie in den Gastronomiebereich sein.
      
      <h1>Vision</h1>

      Unsere Vision ist es, eine der grössten Firmen im Bereich der Gastrotechnik in der Schweiz zu werden
      und eventuell in andere Länder zu expandieren. Wir sind der Meinung, dass die Modernisierung
      verschiedene Chancen mit sich bringt und eine Reihe von Möglichkeiten für den Einsatz von Geräten
      eröffnet.
      
      <h1>Values</h1>

      Wir stehen vor allem für Respekt. Wir legen Wert auf einen fairen und ehrlichen Umgang mit unseren
      Mitarbeitern, Partnern, Kunden und unserer Gemeinschaft. Für uns ist jedes Teammitglied wichtig,
      deshalb beschäftigen wir uns täglich damit, wie wir unsere Mission und unsere Visionen umsetzen
      können. Wir arbeiten täglich mit Strategien und Zielen, die darauf hinzielen, unser Produkt zu
      verbessern und Gaston für andere Betriebe noch attraktiver zu machen.
    </p>
  </Container>
</Main>

<style lang="scss">
  .employee-list {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    gap: 2em;
  }

  .employee {
    width: 16rem;
    text-align: center;

    img {
      border-radius: 1000px;
      box-shadow: 0 0 60px 0px #ccc6;
    }
  }

  .employee-name {
    font-size: 1.2em;
    font-weight: 600;
    color: var(--primary-color);
    margin-bottom: 0px;
  }
</style>